@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,700);
body {
	color: @primary-grey-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
a {
	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
	&:active,
	&:focus {
		outline: none;
	}
}
h3 {
	color: @primary-blue-color;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: normal;
}
h5 {
	text-transform: uppercase;
	font-size: 18px;
}
img {
	max-width: 100%;
}
.btn-custom-blue {
	background: #fff;
	border-color: @primary-blue-color;
	text-transform: uppercase;
	color: @primary-blue-color;
	font-family: OpenSansBold;
	.transition(all 0.3s ease-in-out 0s);
	font-weight: bold;
	font-size: 16px;
	padding: 12px 20px;
	&:hover,
	&:focus {
		background: @primary-blue-color;
		color: #fff;
	}
}
.btn-custom-white {
	border-color: #fff;
	text-transform: uppercase;
	color: #fff;
	.transition(all 0.3s ease-in-out 0s);
	font-weight: bold;
	font-size: 16px;
	padding: 12px 20px;
	&:hover,
	&:focus {
		background: #fff;
		color: @primary-blue-color;
	}
}
.button-container {
	position: fixed;
	float: left;
	margin-top: -22px;
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	   -moz-transform: rotate(270deg);  /* FF3.5+ */
         -o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform-origin: 285px 285px 0;
	   -moz-transform-origin: 285px 285px 0;
	     -o-transform-origin: 285px 285px 0;
	@media (max-width: 767px) {
		float: none;
		position: relative;
		margin-top: 10px;
		text-align: center;
		-webkit-transform: rotate(0deg);  /* Saf3.1+, Chrome */
	       -moz-transform: rotate(0deg);  /* FF3.5+ */
             -o-transform: rotate(0deg);  /* Opera 10.5 */
	}
}
.btn-contact {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	padding: 6px 12px;
	font-weight: bold;
	font-family: OpenSansBold;
	transition: .3s ease;
	&:hover,
	&:focus {
		color: #fff;
	}
	@media (max-width: 480px) {
		display: block;
	}
}
.btn-contact-blue {
	background: @primary-blue-color;
	&:hover {
		background: darken(@primary-blue-color, 10%);
	}
}
.btn-contact-green {
	background: @primary-green-color;
	margin-left: -25px;
	margin-right: 15px;
	&:hover {
		background: darken(@primary-green-color, 10%);
	}
	@media (max-width: 767px) {
		margin: 0;
	}
}
.welcome-banner {
	background: url(../images/top-banner.png);
	background-size: cover;
	background-position: center;
	min-height: 680px;
	.banner-content {
		background: rgba(0, 153, 210, 0.5);
		padding: 40px 90px;
		margin: 300px 120px 150px 120px;
		// min-height: 190px;
		text-align: center;
		h1 {
			text-transform: uppercase;
			color: #fff;
			font-size: 66px;
			margin-top: 0;
			font-weight: 300;
			span {
				font-weight: bold;
			}
		}
		p {
			color: #fff;
			font-size: 24px;
			font-family: OpenSansLight;
		}
	}
	@media(max-width: 767px) {
		.banner-content {
			margin: 20% 0 0 0;
		}
	}
	@media(max-width: 480px) {
		.banner-content {
			padding: 20px; 
			h1 {
				font-size: 50px;
			}
		}
	}
}
.sticky-btns {
	background: transparent;
	min-height: inherit;
}
.main-section {
	background: #fafafc;
	.content-section {
		padding: 70px 0;
		p {
			font-size: 18px;
		}
		.btn {
			margin-top: 10px;
		}
	}
}
.cols-section {
	padding: 65px 0;
	background-color: #fff;
	.home-img-icon {
		height: 120px;
		width: 120px;
		background: @primary-blue-color;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
	.home-inner-cols {
		padding: 0 40px;
	}
	h5 {
		margin: 40px 0;
		font-family: OpenSansBold;
	}
}
.mid-banner {
	padding: 45px 0;
	background: url(../images/banner2.png);
	background-size: cover;
	background-position: center;
	.mid-content {
		text-align: center;
		h4 {
			font-size: 44px;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
	}
}

@font-face {
	font-family: OpenSansRegular;
	src: url('../fonts/OpenSans-Regular.ttf')
}
@font-face {
	font-family: OpenSansLight;
	src: url('../fonts/OpenSans-Light.ttf')
}
@font-face {
	font-family: OpenSansLightItalic;
	src: url('../fonts/OpenSans-LightItalic.ttf')
}
@font-face {
	font-family: OpenSansBold;
	src: url('../fonts/OpenSans-Bold.ttf')
}
@font-face {
	font-family: OpenSansSemibold;
	src: url('../fonts/OpenSans-Semibold.ttf')
}
@font-face {
	font-family: OpenSansExtraBold;
	src: url('../fonts/OpenSans-ExtraBold.ttf')
}
body {
	background: url('../images/body-bg.png');
	background-position: center 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: OpenSansLight;
}
a {
	text-decoration: none;
}
.padding-zero {
	padding: 0;
}
.left-padding {
	padding-left: 0;
}
.right-padding {
	padding-right: 0;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.main-wrap {
	width: 100%;
	padding-top: 45px;
	background: transparent;
}
.heading-wrap {
	margin-bottom: 60px;
	text-align: center;
	color: #fff;
	.title {
		font-size: 66px;
		font-weight: normal;
		text-transform: uppercase;
	}
	.tag-line {
		font-size: 23px;
		font-weight: normal;
	}
}
.content-container {
	background-image: linear-gradient(transparent 155px, #f3f3f5 155px, #f3f3f5 100%);
}
/* Contact page style */
.content-wrap {
	background-color: #fff;
	font-weight: normal;
	color: #757575;
}
.contact-form {
	border-top: 15px solid #0198d1;
	padding: 40px;
	.required-instruction {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.required {
		color: #ff0000;
	}
	.form-group {
		label {
			margin-top: 10px;
			font-weight: normal;
			font-size: 16px;
		}
		.text-box {
			height: 55px;
			border-color: #00aff0;
		}
		textarea {
			min-height: 185px;
		}
	}
	.submit {
		border-color: #00aff0;
		font-family: openSansBold;
		font-size: 16px;
		text-transform: uppercase;
		color: #00aff0;
		&:hover, &:focus {
			background-color: #00aff0;
			color: #fff;
		}
	}
}
.careers-form {
	border-top-color: #8ec63f;
}

/* Style for About page */

.about-container {
	background-color: #fff;
	font-size: 18px;
	color: #b1b1b1;
	.title {
  		margin-bottom: 30px;
  		font-size: 32px;
  		text-transform: uppercase;
  		color: #4fbfed;
  	}
  	.superior-benefits-content {
  		margin-bottom: 35px;
  	}
  	.superior-benefits {
  		margin: 0;
  		margin-bottom: 10px;
  		padding-left: 34px;
  		padding-right: 	40px;
  		font-family: OpenSansLightItalic;
  		font-size: 34px;
  		text-transform: inherit;
  		@media (max-width: 480px) {
  			padding-left: 0;
  			font-size: 28px;
  		}
  	}
  	.who-avisyn {
	  	padding-left: 60px;
	 	background: linear-gradient(to right, #f9f9f9 ,#f9f9f9 ,#f9f9f9 ,#f9f9f9 , #e4dedd, #cabebe);
	  	background-size: cover;
	  	.about-avisyn-outer {
	  		padding-top: 62px;
	  		p {
	  			margin-bottom: 30px;
	  		}
	  	}
	  	.founder-img-outer {
	  		text-align: right;
	  		.founder-img {
		  		display: initial;
		  	}
		  	@media(max-width: 991px) {
		  		text-align: center;
		  	}
	  	}
	  	@media(max-width: 991px) {
	  		padding-right: 50px;
	  	}
	}
	.about-content-wrap {
		padding: 50px 60px;
		.other-content {
			margin-top: 30px;
			.author {
				font-family: OpenSansSemibold;
			}
			.founder {
				font-family: OpenSansExtraBold;
			}
		}
		.contact-us-link {
			margin-top: 70px;
			.contact {
				border-top: 1px solid #44c4f3;
				padding-top: 20px;
				color: #44c4f3;
			}
		}
	}
}
.text-with-border {
	margin: 0;
	margin-top: 50px;
	width: 80px;
	border-color: #44c4f3;
}
.contact-wrap {
	border-color: transparent;
}
.avisyn-text-space {
	letter-spacing: 0.2px;
}