.careers-mid-banner {
	background: url(../images/careers-mid-banner.png) repeat-x;
	background-color: #0098d1;
	padding-top: 82px;
	padding-bottom: 38px;
	.mid-content {
		p {
			margin-bottom: 0;
			margin-top: 20px;
		}
	}
}
.content-wrap {
	.avisyn-team {
		background: linear-gradient(to right, #f9f9f9 ,#f9f9f9 ,#f9f9f9 ,#f9f9f9);
		.avisyn-team-content {
			padding-right: 0;
			color: #acacac;
			p {
				font-size: 16px;
			}
			.avisyn-text-spacing {
				letter-spacing: 0.2px;
				margin-bottom: 28px;
			}
		}
		.avisyn-team-image {
			padding-left: 0;
		}
		
	}
	.user-apply-wrap {
		clear: both;
		background: #fff;
		padding:  30px 60px;
		color: #707070;
		.user-apply-outer {
			padding-top: 48px;
			padding-bottom: 30px;
			border-bottom: 1px solid #d3d3d3;
			.apply-btn {
				margin-top: 10px;
				a {
					border-width: 2px;
					border-radius: 5px;
					padding: 5px 10px;
				}
			}
			.entry-content {
				h2 {
					margin-top: 0;
					font-family: openSansExtraBold;
					font-size: 24px;
					@media (max-width: 767px) {
						text-align: center;
						margin-top: 10px;
					}
				}
			}
			&:last-child {
				border: none;
			}
		}
	}
}